---
name: Test Application
on:
  push:

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: Install dependencies
        run: go mod download
      - name: Setup golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6.2
          args: --timeout=5m
      - name: Run tests
        run: go test ./...
      - name: Prepare/Release Workflows Check
        run: |
          go install github.com/mikefarah/yq/v4@latest
          yq '.jobs.release.steps.[0:11]' .github/workflows/release.yaml > release-steps.yaml
          yq '.jobs.prepare.steps' .github/workflows/prepare.yaml > prepare-steps.yaml
          if ! diff release-steps.yaml prepare-steps.yaml; then
            echo "Prepare and Release workflows are not in sync!"
            exit 1
          fi
          if ! yq '.jobs.release.steps.[11]' .github/workflows/release.yaml | grep -q 'Create Release'; then
            echo 'Release has pre-build steps missing from Prepare workflow!'
            exit 1
          fi
